.titreh2 {
    color: var(--dark-grey);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.usersList {
    list-style: none;
    text-align: left;
    margin-left: 0.5em;
    font-size: 1.1rem;
    margin-top: 1em ;
    font-weight: 500;
}

.roleList {
    list-style: none;
    font-size: 0.8rem;
    font-style: italic;
    margin-left: 2em;
    margin-block: 0.2em;
    font-weight: 400;

}

.usersListContainer {
    margin: 0 auto;
    width: 90%;
    background-color: var(--purple-pastel);
    border: 1px solid var(--purple-pastel);
    border-radius: 10px;
    padding: 0;
    padding-bottom: 1em;
}


.userSelect {
    width: 60%;
    height: 3vh;
    margin-bottom: 1.2rem;
    border: 0.5px solid var(--dark-grey);
    padding: 2px;
    padding-left: 5px;
    border-radius: 5px;
}

.titreh4 {
    color: var(--dark-grey);
    background-color: var(--orange-pastel);
    border: 2px solid var(--orange-pastel);
    border-radius: 10px;
    padding: 5px;
    padding-inline: 10px;
    margin-top: 2rem;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    width: 80%;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.visible {
    color : var(--red);
    font-weight: bold;
}

.invisible {
    display: none;
}