.usersList {
    list-style: none;
    text-align: left;
    margin-left: 0.5em;
    font-size: 1.1rem;
    margin-top: 1em;
}

.roleList {
    list-style: none;
    font-size: 0.8rem;
    font-style: italic;
    margin-left: 2em;
    margin-block: 0.2em;
    font-weight: 400;
}

.usersListContainer {
    margin: 1rem auto;
    width: 90%;
    background-color: var(--purple-pastel);
    border: 1px solid var(--purple-pastel);
    border-radius: 10px;
    padding: 0;
    padding-bottom: 1em;
}

.userSelect {
    width: 75%;
    height: 2.5rem;
    font-size: 1rem;
    margin-bottom: 1.2rem;
    border: 0.5px solid var(--dark-grey);
    padding: 2px;
    padding-left: 5px;
    border-radius: 5px;
}

.visible {
    color: var(--red);
    font-weight: bold;
}

.invisible {
    display: none;
}

@media (min-width: 1080px) {
    .userSelect {
        width: 50%;
    }

    .userSelect option {
        font-size: 1.2rem;
    }

    .usersListContainer {
        width: 60%;
        margin-bottom: 3rem;
    }

    .usersList {
        font-size: 1.3rem;
        text-align: center;
    }
}

@media (orientation: landscape) {
    .userSelect {
        height: 3rem
    }
}