.retour_accueil {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
    text-decoration: none;
    color: var(--dark-grey);
    font-size: 1em;
    margin-top: 2rem;
}

.retour_accueil img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}