.addGamemasters {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.gamemastersListe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
}

.visible {
    color: var(--red);
    font-weight: bold;
}

.invisible {
    display: none;
}