.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.formProfil {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70vw;
    border-radius: 10px;
    padding-inline: 2rem;
    background-color: var(--blue-pastel);
}

.value {
    font-size: 1rem;
}

.profil h1 {
    font-size: 1.6em;
}

.labelModif {
    font-weight: 700;
    text-align: justify;
    font-size: 1.2em;
}

.modification {
    width:5vw;
    cursor: pointer;
}

.divModif {
    display : flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.1em;
}

.divModif p {
    margin: 0.3em 0 1em 0;
}

.divModifPassword {
    display : flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 0.9em;
}

.infosPassword {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: baseline;
}

.errorPassword {
    color: var(--red);
}
