.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.formProfil {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50vw;
}

.profil h1 {
    font-size: 1.6em;
}

.salleList {
    list-style: none;
    text-align: justify;
    padding-left: 2.5em;
    margin: 0.5em 0;
}

.labelModif {
    font-weight: bold;
    text-align: justify;
    font-size: 1.5em;
}

.modification {
    width:10%;
    height: 15%;
    cursor: pointer;
}

.divModif {
    display : flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.1em;
}

.divModif p {
    margin: 0.3em 0 1em 0;
}



