.avatar {
    max-width: 80%;
}

.infos {
    width: 100%;
    padding-left: 0.5em;
    margin : 0;
    font-weight: bold;
    text-align: left;
}

.donnees {
    text-align: justify;
    margin : 0.2em 0 1em 0;
    font-size: 0.9em;
}

.infosProfil {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: var(--purple-pastel);
    margin-inline: 1rem;
    border: 1px solid var(--purple-pastel);
    border-radius: 10px;
    padding-bottom: 1rem;
}

.infosDiv {
    background-color: var(--purple-pastel);
    border: 1px solid var(--purple-pastel);
    border-radius: 10px;
    height: 5rem;
    margin: 0 auto;
    margin-top: 10px;
}

.point {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.5em;
    padding-left: 0;
    width: 50%;
    height: 3rem;
}

.win {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}


.nomDonnees, .prenomDonnees, .pseudoDonnees, .dateDonnees {
    height: 50%;
    margin : 0 auto;
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

.nom, .prenom, .pseudo, .date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-right: 0.5em ;
    width: auto;
}

.salleListProfil {
    background-color: var(--purple-pastel);
    margin-inline: 1rem;
    border: 1px solid var(--purple-pastel);
    border-radius: 10px;
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.titreSalles {
    margin: 0;
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 500;
}

.retour_profil {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.retour_profil img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}

.salleListModal {
    list-style: none;
    text-align: start;
    margin: 0.5em 0 0.5em 0;
}

.salleList {
    list-style: none;
    text-align: justify;
    padding-left: 2.5em;
    margin: 0.5em 0;
}

.inputAvatar {
    width: 80%;
    height: 2.7vh;
    margin-bottom: 1.2rem;
    border: 0.5px solid var(--dark-grey);
    padding: 2px;
    padding-left: 5px;
    border-radius: 5px;
}

.spanImageProfil {
    font-weight: bold;
    font-style: italic;
}