.logo_accueil {
    width: 30vw;
    margin: 3rem auto;
}

.titre_accueil {
    margin: 0 auto;
    padding-bottom: 3rem;
    font-weight: bold;
    font-size: 1.3em;
    color: var(--dark-grey);
    text-align: center;
    line-height: 2em;
}

.titre_accueil span {
    font-size: 1.6em;
}

.lien_accueil {
    text-decoration: none;
    color: var(--dark-grey);
    font-weight: bold;
}

.p_accueil {
    font-size: 1em;
}