.logo_accueil {
    width: 30vw;
    margin: 3rem auto;
}

.titre_accueil {
    margin: 0 auto;
    padding-bottom: 2rem;
    font-weight: bold;
    font-size: 1.3em;
    color: var(--dark-grey);
    text-align: center;
    line-height: 2em;
    margin-bottom: 3rem;
}

.span_accueil {
    font-size: 1.6em;
}

.lien_accueil {
    text-decoration: none;
    color: var(--dark-grey);
    font-weight: bold;
    font-style: italic;
}

.explication_accueil {
    font-size: 1em;
    color: var(--dark-grey);
    width: 70%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 2rem;
}

.btn_connexion {
    margin-top: 2rem;
    width: 50vw;
    height: 6vh;
    background-color: var(--dark-grey);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--dark-grey);
}

.btn_connexion_link {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    font-size: 1.2rem;
}

.p_accueil {
    margin-top: 1.5rem;
    font-size: 0.75em;
}

.h2_accueil {
    color: var(--dark-grey);
    font-size: 1.2em;
}

.table_accueil {
    width: 70%;
    margin: 0 auto;
    border: 1px solid var(--blue-flash);
    border-radius: 10px;

}

th {
    font-weight: 600;
    font-family: 'Helvetica', sans-serif;
    border-bottom: 1px solid var(--blue-flash);
}

tbody>tr:nth-of-type(even) {
    background-color: var(--blue-pastel);
}

.first-place {
    margin: 0;
    font-weight: 600;
    color: var(--blue-flash);
}

/* Mediaqueries pc */
@media (min-width: 1080px) {
    .logo_accueil {
        width: 10vw;
        margin: 3rem auto;
    }

    .explication_accueil {
        text-align: center;
        font-size: 1.3rem;
    }

    .titre_accueil {
        font-size: 1.7rem;
    }

    .p_accueil {
        font-size: 1.1rem;
    }

    .table_accueil {
        width: 40%;
    }
}