/* fleche de scroll en bas a droite de l'ecran */
.fleche {
    position: fixed;
    bottom: 0;
    right: 5px;
    cursor: pointer;
}

.choixLancementPartie {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-block: 30px;
    width: 60%;
}

.lancementPartie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.h2_regles {
    color: var(--dark-grey);
    font-size: 1.2em;
    text-decoration: underline;
}

.explication_regles {
    font-size: 1em;
    color: var(--dark-grey);
    margin: 0 auto;
    text-align: left;
    margin-bottom: 30px;
}

.listeSalles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-items: baseline;
    margin-inline: 10px;
}

.listeSalles a {
    text-decoration: none;
    color: var(--dark-grey);
    font-size: 0.8rem;
    height: 4vh;
}

.salleNomGame {
    scroll-margin-top: 140px;
    color: var(--dark-grey);
    background-color: var(--orange-pastel);
    border: 2px solid var(--orange-pastel);
    border-radius: 5px;
    padding: 5px;
    padding-inline: 10px;
    margin-top: 2rem;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.listePhrase {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 30px;
}

.selectedPhrase {
    text-decoration: line-through;
    text-decoration-color: var(--orange-flash);
    text-decoration-thickness: 3px;
}

.grille {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 10px;
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    color: var(--black);
    z-index: 10;
    background-color:var(--background-grey);
    position: absolute;
    width: 92%;
    margin-left: 5px;
    margin-right: 5px;
}

.caseGrille {
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 60px;
    transition: 0.3s;
    cursor: pointer;
}

.valide {
    background-color: var(--blue-pastel);
    border: 1px solid var(--blue-flash);
    color: var(--dark-grey);
}

.buttonListePhrase {
    background-color: var(--dark-grey);
    color: var(--white);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid var(--dark-grey);
    padding: 10px;
    border-radius: 25px;
    width: auto;
    margin-block: 30px;
}

.finPartieH2 {
    color:var(--blue-flash);
    font-size: 45px;
    border: 2px solid var(--blue-flash);
    border-radius: 5px;
    padding: 10px;
    animation: zoom-in-zoom-out 1.5s ease-in alternate infinite;
    margin-bottom: 3rem;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1.5, 1.5);
    }
  }


.finPartie {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rejouer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

@media (orientation: landscape) {
    .lancementPartie {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grille {
        width:40vw;
        position: fixed;
        height: 60vh;
        top: 30%;
    }

    .caseGrille {
       height: auto;
       width: auto;
    }

    .gameContainer {
        width: 55vw;
        position: absolute;
        right: 0;
    }

    .finPartie {
        width: 100vw;
    }
}

@media (min-width: 1080px) {
    .grille {
        position: fixed;
        top: 25%;
        margin-left: 1rem;
    }

    .li_lancementPartie {
        width: auto;
        font-size: 1.2em;
    }

    .finPartieP {
        font-size: 1.3em;
    }
    
}