body {
    background-color: var(--white);
    color: var(--dark-grey);
}

.actualiser {
    background-color: var(--dark-grey);
    color: var(--white);
    border-radius: 5px;
    margin-inline: 10px; 
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid var(--dark-grey);
}

.actualiser:hover {
    background-color: var(--white);
    color: var(--dark-grey);
    border: 1px solid var(--dark-grey);
}

.sallesListeAS{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
}

.sallesAS{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    width: 90vw;
    background-color: var(--purple-pastel);
    border-radius: 10px;
    border: 1px solid var(--purple-pastel);
    margin-bottom: 20px;
}

.deleteSalle{
    background-color: var(--white);
    color: var(--dark-grey);
    border-radius: 5px;
    margin-inline: 10px; 
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 25px;
    border: 1px solid var(--dark-grey);
}

.deleteSalle:hover {
    background-color: var(--dark-grey);
    color: var(--white);
    border: 1px solid var(--dark-grey);
}

.addSalle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.salleInput {
    width: 80%;
    height: 2.5vh;
    margin-bottom: 1.2rem;
    border: 0.5px solid var(--dark-grey);
    padding: 2px;
    padding-left: 5px;
    border-radius: 5px;
}

.salleButton {
    background-color: var(--dark-grey);
    color: var(--white);
    border-radius: 5px;
    margin-inline: 10px; 
    padding: 5px;
    padding-inline: 15px;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid var(--dark-grey);
}

.salleButton:hover {
    background-color: var(--white);
    color: var(--dark-grey);
    border: 1px solid var(--dark-grey);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color:var(--background-grey);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-content button {
    margin: 5px;
}

.choixSuppression {
    background-color: var(--dark-grey);
    color: var(--white);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid var(--dark-grey);
    padding: 10px;
    border-radius: 25px;
}

.choixSuppression:hover {
    background-color: var(--white);
    color: var(--dark-grey);
    border: 1px solid var(--dark-grey);
}

.visible {
    color : var(--red);
    font-weight: bold;
}

.invisible {
    display: none;
}

@media (min-width: 1080px) {
    .salleInput {
        width: 60%;
    }

    .sallesAS {
        width: 60%;
    }
}