.modalModif {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.modal-title {
    font-size: 10em;
}

.modal-content h2 span {
    text-transform: lowercase;
}

.modal-content input {
    margin-bottom: 1em;
    padding: 0.3em;
    border: 1px solid var(--dark-grey);
}
