.modalModif {
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
}

.modal-title {
    font-size: 10em;
}

.modal-content h2 span {
    text-transform: lowercase;
}

.modal-content input {
    width: 80%;
    height: 2.5vh;
    margin-bottom: 1.2rem;
    border: 0.5px solid var(--dark-grey);
    padding: 2px;
    padding-left: 5px;
    border-radius: 5px;
}
