.modalModif {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}

.modal-title {
    font-size: 10em;
}

.modal-content h2 span {
    text-transform: lowercase;
}

.modal-content {
    background-color:var(--background-grey);
}