:root {
    --dark-grey: #2B2E34;
    --middle-grey: #666666;
    --light-grey: #CCCCCC;
    --red: #b60505;
    --green-win: #0b741d;
    --purple-pastel: #aa2bf30c;
    --purple-flash: #aa2bf3;
    --orange-pastel: #f07e2111;
    --orange-flash: #ff9c40;
    --blue-pastel: #11baf710;
    --blue-flash: #11b9f7;
  }