:root {
    --dark-grey: #2B2E34;
    --middle-grey: #666666;
    --light-grey: #CCCCCC;
    --red: #cf0909;
    --green-win: #0b741d;
    --purple-pastel: #aa2bf30c;
    --purple-flash: #aa2bf3;
    --orange-pastel: #f07e2111;
    --orange-flash: #ff9c40;
    --blue-pastel: #11baf710;
    --blue-flash: #11b9f7;
    --background-grey: #f1efef;
    --white: #ffffff;
    --black: #000000;
    --background-dark-grey: #2B2E3480;
  }