.form-container {
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    padding-block: 2rem;
    border-radius: 10px;
    border: 2px solid var(--purple-pastel);
    background-color: var(--purple-pastel);
    width: 70%;
}

.form-container label {
    font-size: 1.2rem;
}

.inputForgot {
    width: 80%;
    height: 2rem;
    background: var(--background-grey);
    border: 0.5px solid var(--dark-grey);
    border-radius: 5px;
    font-size: 1rem;
}

@media (min-width: 1080px) {
    .form-container {
        width: 40%;
    }

    .form-container label {
        font-size: 1.5rem;
    }
}