@import './style/constantes.css';

body {
  margin: 0;
  letter-spacing: 0.05em;
}

:root {
  background-color: var(--background-grey);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-grey);

}

main {
  flex: 1;
}

input,
select {
  background-color: var(--background-grey);
}


.mainApp {
  margin-top: 120px;
}

.modalMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100vh;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 101;
  overflow: scroll;
  scrollbar-width: none;
}

.imageProfilNavBar {
  position: absolute;
  top: 30px;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  border: 2px solid var(--white)var(--white);
}

.navLink {
  text-decoration: none;
  color: var(--white);
  font-size: 1.2em;
  margin-bottom: 10px;
}

.deconnexion {
  color: var(--red);
  font-size: 1.3em;
  cursor: pointer;
  font-weight: 500;
  margin-top: 40px;
}

.navLinks {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 60%;
  width: 100%;
  margin-top: 20vh;
  padding-left: 10px;
  margin-left: 10px;
}

.separator {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 90%;
  height: 2px;
  background-color: var(--white);
}

.linksAdmin {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}

.adminH2 {
  color: var(--white);
  font-size: 25px;
  font-weight: 500;
  text-decoration: underline;
}

.modal-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}



.salleAncre {
  text-decoration: none;
  color: var(--dark-grey);
  font-size: 0.8rem;
  height: 4vh;
  background-color: var(--blue-pastel);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--background-grey);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px var(--background-dark-grey);
}

/* CSS commun aux pages admin */
.pageAdminH2, .pageAdminH1 {
  font-size: 1.5rem;
  color: var(--dark-grey);
  background-color: var(--orange-pastel);
  border: 2px solid var(--orange-pastel);
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem auto;
  width: 80%;
  margin-bottom: 2rem;
  font-weight: 500;
}

.pageInput {
  width: 80%;
  height: 3vh;
  margin-bottom: 1.2rem;
  border: 0.5px solid var(--dark-grey);
  padding: 2px;
  padding-left: 5px;
  border-radius: 5px;
  font-size: 1rem;
}

.input {
  width: 95%;
  height: 2.5rem;
  background: var(--background-grey);
  border: 0.5px solid var(--dark-grey);
  border-radius: 5px;
}

.input input {
  width: 85%;
  height: 2.5rem;
  border: none;
  background: none;
  outline: none;
  font-size: 1.1rem;
}

.input input::placeholder {
 vertical-align: middle;
 font-size: 1.1rem;
}

.input img {
  width: 1,5rem;
  height: 1.5rem;
  vertical-align: middle;
}

.listeAG {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  background-color: var(--purple-pastel);
  border-radius: 10px;
  border: 1px solid var(--purple-pastel);
  margin-bottom: 20px;
  padding: 5px;
  margin-left: 0.5rem;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
}

@media (min-width: 1080px) {
  .modalMenu {
    width: 35%;
  }

  .navLink {
    font-size: 2rem;
  }

  /* CSS commun aux pages admin */
  .pageAdminH2 {
    font-size: 2rem;
    width: 40%;
  }
  
  .pageAdminH1 {
    font-size: 2.5rem;
  }

  .pageInput {
    width: 80%;
    height: 5vh;
    font-size: 1.2rem
  }

  .listeAG {
    width: 60%;
    font-size: 1.3rem;
    height: 5vh;
  }

  .modal-content {
    position: fixed;
    top: 30%;
    width: 30% !important;
    overflow: scroll;
    scrollbar-width: none;
    height: 15rem !important;
    font-size: 1.2rem;
  }

  .pageInput {
    width: 50%;
  }

  .imageProfilNavBar {
    width: 15rem;
    height: 15rem;
  }
  
}

@media (orientation: landscape) {
  .pageInput {
    height: 1.5rem;
  }

  .modal-content {
    position: fixed;
    bottom: 5%;
    height: 55%;
    width: 50%;
    overflow: scroll;
    scrollbar-width: none;
  }

  .modal-content h2 {
    margin-top: 0.5rem !important;
    font-size: 1.3rem;
  }

  .modalMenu {
    width: 40%;
    height: 100%;
  }

  .imageProfilNavBar {
    width: 10rem;
    height: 10rem;
  }

  .navLinks {
    margin-top: 15rem;
  }

}