@import './style/constantes.css';

body {
  margin: 0;
  letter-spacing: 0.05em;
}

:root {
  background-color: var(--background-grey);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-grey);

}

main {
  flex: 1;
}

input,
select {
  background-color: var(--background-grey);
}


.mainApp {
  margin-top: 140px;
}

.modalMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.imageProfilNavBar {
  position: absolute;
  top: 30px;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  border: 2px solid var(--white)var(--white);
}

.navLink {
  text-decoration: none;
  color: var(--white);
  font-size: 1.2em;
  margin-bottom: 10px;
}

.deconnexion {
  color: var(--red);
  font-size: 1.3em;
  cursor: pointer;
  font-weight: 500;
  margin-top: 40px;
}

.navLinks {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 60%;
  width: 100%;
  margin-top: 20vh;
  padding-left: 10px;
  margin-left: 10px;
}

.separator {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 90%;
  height: 2px;
  background-color: var(--white);
}

.linksAdmin {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}

.adminH2 {
  color: var(--white);
  font-size: 25px;
  font-weight: 500;
  text-decoration: underline;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
}

/* CSS commun aux pages admin */
.pageAdminH2 {
  font-size: 1.5rem;
}

.pageAdminH1 {
  font-size: 2rem;
}

.pageAdminInput {
  width: 80%;
  height: 2.5vh;
  margin-bottom: 1.2rem;
  border: 0.5px solid var(--dark-grey);
  padding: 2px;
  padding-left: 5px;
  border-radius: 5px;
}

.listeAG {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  background-color: var(--purple-pastel);
  border-radius: 10px;
  border: 1px solid var(--purple-pastel);
  margin-bottom: 20px;
  padding: 5px;
}

@media (min-width: 1080px) {
  .modalMenu {
    width: 35%;
  }

  .navLink {
    font-size: 2rem;
  }

  /* CSS commun aux pages admin */
  .pageAdminH2 {
    font-size: 2rem;
  }
  
  .pageAdminH1 {
    font-size: 2.5rem;
  }

  .pageAdminInput {
    width: 60%;
    height: 5vh;
  }

  .listeAG {
    width: 60%;
    font-size: 1.3rem;
    height: 5vh;
  }
}