@import './style/constantes.css';

.App {
  text-align: center;
}

.modalMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}

.navLinks {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 60%;
  width: 100%;
  margin-top: 50px;
  padding-left: 10px;
}

.separator {
  margin-top: 20px;
  width: 90%;
  height: 2px;
  background-color: white;
}

.linksAdmin {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}

.adminH2 {
  color: white;
  font-size: 30px;
}