.h1Inscription {
    margin: 2.5rem auto;
}

.inscriptionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    padding: 1rem;
    padding-block: 2rem;
    border-radius: 10px;
    border: 2px solid var(--purple-pastel);
    background-color: var(--purple-pastel);
    width: 70%;
}

.inscriptionForm label {
    font-size: 20px;
}

.inputInscription {
width: 85%;
height: 2.5vh;
margin-bottom: 1.2rem;
border: 0.5px solid var(--dark-grey);
padding: 2px;
padding-left: 5px;
border-radius: 5px;
}

.errorPwd, .errorEmail {
    color: var(--red);
}